html
{
    background-color:rgb(171, 171, 248);
}

main, h1
{
    text-align: center;
}

h1
{
    display: block;
}

html, body
{
    padding: 0;
    margin: 0;
}

section
{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

figcaption
{
    font-size: 8px;
}

main
{
    width: 100%;
}

article
{
    display: inline-block;
    width: 60vw;
    background-color: rgb(148, 148, 239);
    border-radius: 50px;
    margin-bottom: 5vh;
}

p
{
    font-size: 20px;
}

#toTheTop
{
    position: fixed;
    Right: 25px;
    bottom: 25px;
    color:rgb(109, 109, 205);
    background-color: rgb(156, 156, 255);
    border-color: rgb(93, 93, 242);
    border-style: solid;
    border-radius: 5vw;
    width: 13vw;
    height: 7vw;
    margin-top: 0.55vw;
    vertical-align:top;
    font-size: 2.5vw;
    font-weight: bold;
    display: none;

    transition:
    background-color 0.25s;
}

#toTheTop:hover
{
    background-color: rgb(171, 171, 255);
    transition:
    background-color 0.25s;
}

#pageButton
{
    border-color: rgb(93, 93, 242);
    background-color: rgb(156, 156, 255);
    border-radius: 50%;
    border-style: solid;
    box-shadow: none;
    width: 5vw;
    height: 5vw;
    font-size: 3vw;
    color:rgb(109, 109, 205);
    rotate: 0deg;
    text-align: center;
    transition: 
    rotate 1s,
    background-color 0.25s;
}

#pageButton:hover
{
    background-color: rgb(171, 171, 255);
    transition: 
    rotate 1s,
    background-color 0.25s;
}

#pageButton.navButtonClicked
{
    rotate: 90deg;
    transition: rotate 1s,
    background-color 0.25s;
}

#pageButtonBG
{
    position: fixed;
    top: 7px;
    left: 7px;
    background-color: rgb(131, 131, 238);
    border-radius: 300px;
    width: 5vw;
    height: 5vw;
    transition: all, 1s; 
    z-index: 9999;
}

#pageButtonBG.navButtonClicked
{
    transition: all, 0.65s;
    width: 70vw;
}

#menuButton, #swordsmanshipButton, #gamesButton, #historyButton, #materialButton
{
    color:rgb(109, 109, 205);
    background-color: rgb(171, 171, 255);
    border-color: rgb(93, 93, 242);
    transition: 
    opacity 0.75s,
    width 0.8s,
    height 1s,
    margin-top 1s,
    vertical-align 1s,
    background-color 0.25s,
    font-size 1s;

    opacity: 0;
    border-style: solid;
    border-radius: 5vw;
    width: 0vw;
    height: 4vw;
    margin-top: 0.55vw;
    vertical-align:top;
    font-size: 0vw;
    font-weight: bold;
    text-align: center;
}

#menuButton.navButtonClicked, #swordsmanshipButton.navButtonClicked, #gamesButton.navButtonClicked, #historyButton.navButtonClicked, #materialButton.navButtonClicked
{
    color:rgb(98, 98, 197);
    background-color: rgb(156, 156, 255);
    border-color: rgb(93, 93, 242);
    display: inline;
    border-radius: 5vw;
    opacity: 1;
    width: 12vw;
    height: 4vw;
    margin-top: 0.55vw;
    vertical-align:top;
    font-size: 1.4vw;
    text-align: center;

    transition: 
    opacity 1s,
    width 1s,
    height 1s,
    margin-top 1s,
    vertical-align 1s,
    background-color 0.25s,
    font-size 1s;
}

#menuButton:hover, #swordsmanshipButton:hover, #gamesButton:hover, #historyButton:hover, #materialButton:hover
{
    color:rgb(103, 103, 189);
    border-color: rgb(113, 113, 243);
    background-color: rgb(171, 171, 255);
}

#swordsmanship
{
    display: none;
}

#history
{
    display: none;
}

#material
{
    display: none;
}

#games
{
    display: none;
}

#menu
{
    display: inline-block;
}

/**/
/* for section elements!! */
/**/

/*MENU SECTION*/
#QRcode
{
    display: block;
    margin: auto;
}

img
{
    margin: 20px;
}

/* MATERIAL SECTION */
#materialh2
{
    color: white;
}

#material figure
{
    text-align: center;
    margin: auto;
}
#materialCopper
{
    background-image: linear-gradient(to bottom, rgb(0,0,0), rgba(183, 127, 7, 0.616));
}

#materialBronze
{
    background-image: linear-gradient(to bottom, rgba(183, 127, 7, 0.616), rgba(255, 157, 0, 0.539));
}

#materialWroughtIron
{
    background-image: linear-gradient(to bottom, rgba(255, 157, 0, 0.539), rgba(255, 255, 255, 0.539));
}

#materialWootzSteel
{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.539), rgba(137, 137, 137, 0.61));
}

#materialPatternWeldedSteel
{
    background-image: linear-gradient(to bottom, rgba(137, 137, 137, 0.61), rgba(255, 225, 52, 0.61));
}

#materialTamahaganeSteel
{
    background-image: linear-gradient(to bottom, rgba(255, 225, 52, 0.61), rgba(183, 182, 176, 0.61));
}

#materialHighCarbonSteel
{
    background-image: linear-gradient(to bottom, rgba(183, 182, 176, 0.61), rgba(255, 255, 255, 0.705));
}

#materialSpringSteel
{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.705), rgba(255, 255, 255, 0.495));
}

/* SWORDSMANSHIP SECTION */
#swordsmanship
{
    display: none;
    text-align: center;
}

#swordsmanship figure
{
    margin: auto;
}

#ancientSwordsmanshipGreek, #ancientSwordsmanshipRoman,#highMedievalSwordsmanshipGerman, #highMedievalSwordsmanshipItalian, #earlyModernSwordsmanshipSmallsword, #earlyModernSwordsmanshipSabre
{
    display: block;
    float: left;
    margin-bottom: 15vw;
}

#earlyMedievalSwordsmanshipViking,#earlyMedievalSwordsmanshipGerman, #veryEarlyModernSwordsmanshipItalian, #veryEarlyModernSwordsmanshipGerman, #modernSwordsmanshipFencing, #modernSwordsmanshipJapan
{
    display: block;
    float: right;
    margin-bottom: 20vw;
}

/*all images*/
#swordsmanshipGreekWarrior,#swordsmanshipKopis,#swordsmanshipPugio,#Ulfberhtstyle, #swordsmanshipArmingSword, #Longsword, #spada, #italianRapier, #germanRingHiltRapier, #smallsword, #cavalrySabre, #epee, #kenjutsu
{
    margin: 0;
    width: 20vw;
}

#swordsmanshipGreek, #swordsmanshipGreek2, #swordsmanshipRoman, #swordsmanshipLongsword, #swordsmanshipSpada, #swordsmanshipSmallsword, #swordsmanshipCavalrySabre
{
    float: right;
}

#swordsmanshipUlfberht, #swordsmanshipArmingSword, #swordsmanshipItalianRapier, #swordsmanshipGermanRapier, #swordsmanshipEpee, #swordsmanshipKenjutsu
{
    float:left;
}

/* HISTORY SECTION */
#history article
{
    width: 100%;
}


/* FOR FRUIT NINJA GAME */
#mouseTrail
{
    display: none;
    position: relative;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    border-color: white;
}
#fruitNinja
{
    display: block;
    margin: auto;
    overflow: hidden;
    position:relative;
    margin-bottom: 50px;
    width: 95vw;
    height: 50vh;
    background-color: rgba(125, 87, 6, 0.71);
}

#fruitNinja.gameStarted
{
    transition:all, 0.75s;
    background-color: rgba(183, 127, 7, 0.616);
    cursor: url('images/cursor.png'), auto;
}

/*fruits*/
.watermelon
{
    background: url('images/fruitspritesheet.png') no-repeat -387px -102px;
	width: 87px;
	height: 85px;
}

.banana
{
    background: url('images/fruitspritesheet.png') no-repeat -192px -2px;
	width: 97px;
	height: 85px;
}

.apple
{
    background: url('images/fruitspritesheet.png') no-repeat -2px 0;
	width: 89px;
	height: 96px;
}
/*FOR MOBILE*/
@media(max-width: 800px)
{
    p
    {
        font-size: 15px;
    }

    #QRcode
    {
        display: none;
    }
    img
    {
        width: 42vw;
    }
    #wroughtIronImage
    {
        width: 15vw;
    }

    /* NAVIGATION PAGE BAR CHANGES */
    #pageButtonBG
    {
        margin: 10px;
        background-color: rgba(131, 131, 238, 0);
        border-radius: 20px;
        width: 10vw;
        height: 10vw;
        transition: all, 0.65s; 
    }

    #pageButtonBG.navButtonClicked
    {
        background-color: rgba(131, 131, 238);
        transition: all, 0.65s;
        width: 150px;
        height: 400px;
    }

    #menuButton, #swordsmanshipButton, #gamesButton, #historyButton, #materialButton
    {
        margin: auto;
        margin-top: 15px;
        display: block;
        width: 0px;
        height: 0px;
        font-size: 0px;
    }
    #menuButton.navButtonClicked, #swordsmanshipButton.navButtonClicked, #gamesButton.navButtonClicked, #historyButton.navButtonClicked, #materialButton.navButtonClicked
    {
        margin: auto;
        margin-top: 15px;
        display: block;
        width: 130px;
        height: 50px;
        font-size: 15px;
    }

    #pageButton, #pageButton.navButtonClicked
    {
        width: 50px;
        height: 50px;
        font-size: 35px;
    }

    /* SWORDSMANSHIP FORMAT CHANGES */
    #swordsmanship article
    {
        width: 100%;
    }
    #swordsmanshipGreekWarrior,#swordsmanshipKopis,#swordsmanshipPugio,#Ulfberhtstyle, #swordsmanshipArmingSword, #Longsword, #spada, #italianRapier, #germanRingHiltRapier, #smallsword, #cavalrySabre, #epee, #kenjutsu
    {
        display: block;
        text-align: center;
        width: 50vw;
        margin: auto;
    }

    #swordsmanshipGreek, #swordsmanshipGreek2, #swordsmanshipRoman, #swordsmanshipLongsword, #swordsmanshipSpada, #swordsmanshipSmallsword, #swordsmanshipCavalrySabre
    {
        display: block;
        float: none;
        width: 50vw;
        margin:auto;
    }

    #swordsmanshipUlfberht, #swordsmanshipArmingSword, #swordsmanshipItalianRapier, #swordsmanshipGermanRapier, #swordsmanshipEpee, #swordsmanshipKenjutsu
    {
        display: block;
        float: none;
        width: 50vw;
        margin:auto;
        margin: auto;
    }

    #ancientSwordsmanshipGreek, #ancientSwordsmanshipRoman,#highMedievalSwordsmanshipGerman, #highMedievalSwordsmanshipItalian, #earlyModernSwordsmanshipSmallsword, #earlyModernSwordsmanshipSabre
    {
        display: block;
        float: none;
        margin-bottom: 10vw;
        margin: auto;
    }

    #earlyMedievalSwordsmanshipViking,#earlyMedievalSwordsmanshipGerman, #veryEarlyModernSwordsmanshipItalian, #veryEarlyModernSwordsmanshipGerman, #modernSwordsmanshipFencing, #modernSwordsmanshipJapan
    {
        display: block;
        float: none;
        margin: auto;
        margin-bottom: 15vw;
    }

    #swordsmanship figure
    {
        margin: auto;
        float: none;
    }
}