html
{
    background-color:rgb(171, 171, 248);
}

html *
{
    padding: 3px;
}

main *, h1
{
    text-align: center;
}

article
{
    background-color: rgb(148, 148, 239);
    border-radius: 4vw;
    margin: 5vw;
}

@media(max-width: 800px)
{
    html
    {
        background-color: rgb(192, 192, 239);;
    }
}

#toTheTop
{
    position: fixed;
    Right: 25px;
    bottom: 25px;
    color:rgb(109, 109, 205);
    background-color: rgb(156, 156, 255);
    border-color: rgb(93, 93, 242);
    border-style: solid;
    border-radius: 5vw;
    width: 13vw;
    height: 7vw;
    margin-top: 0.55vw;
    vertical-align:top;
    font-size: 2.5vw;
    font-weight: bold;
    opacity: 0;
    display: none;
}

#pageButton
{
    border-color: rgb(93, 93, 242);
    background-color: rgb(156, 156, 255);
    border-radius: 50%;
    border-style: solid;
    box-shadow: none;
    width: 5vw;
    height: 5vw;
    font-size: 3vw;
    color:rgb(109, 109, 205);
    rotate: 0deg;
    text-align: center;
    transition: 
    rotate 1s,
    background-color 0.25s;
}

#pageButton:hover
{
    background-color: rgb(145, 145, 252);
    transition: 
    rotate 1s,
    background-color 0.25s;
}

#pageButton.navButtonClicked
{
    rotate: 90deg;
    transition: rotate 1s,
    background-color 0.25s;
}

#pageButtonBG
{
    position: fixed;
    background-color: rgb(131, 131, 238);
    border-radius: 300px;
    width: 5vw;
    height: 5vw;
    transition: all, 1s; 
}

#pageButtonBG.navButtonClicked
{
    transition: all, 0.65s;
    width: 69vw;
}

#menuButton, #swordsmanshipButton, #usesButton, #historyButton, #materialButton
{
    color:rgb(109, 109, 205);
    background-color: rgb(156, 156, 255);
    border-color: rgb(93, 93, 242);
    transition: 
    opacity 0.75s,
    width 0.8s,
    height 1s,
    margin-top 1s,
    vertical-align 1s,
    background-color 0.25s,
    font-size 1s;

    opacity: 0;
    border-style: solid;
    border-radius: 5vw;
    width: 0vw;
    height: 4vw;
    margin-top: 0.55vw;
    vertical-align:top;
    font-size: 0vw;
    font-weight: bold;
    
}

#menuButton.navButtonClicked, #swordsmanshipButton.navButtonClicked, #usesButton.navButtonClicked, #historyButton.navButtonClicked, #materialButton.navButtonClicked
{
    color:rgb(98, 98, 197);
    background-color: rgb(156, 156, 255);
    border-color: rgb(93, 93, 242);
    display: inline;
    border-radius: 5vw;
    opacity: 1;
    width: 12vw;
    height: 4vw;
    margin-top: 0.55vw;
    vertical-align:top;
    font-size: 1.4vw;

    transition: 
    opacity 1s,
    width 1s,
    height 1s,
    margin-top 1s,
    vertical-align 1s,
    background-color 0.25s,
    font-size 1s;
}

#menuButton:hover, #swordsmanshipButton:hover, #usesButton:hover, #historyButton:hover, #materialButton:hover
{
    color:rgb(103, 103, 189);
    border-color: rgb(113, 113, 243);
    background-color: rgb(130, 130, 255);
}

#swordsmanship
{
    display: none;
}

#history
{
    display: none;
}

#material
{
    display: none;
}

#uses
{
    display: none;
}